@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    background-color: hsl(210, 46%, 95%);
    display: grid;
    place-content: center;
    min-height: 100vh;
}

img, svg{
    max-width: 100%;
}

article {
    margin: 1.5rem auto;
    padding: 1.5rem;
    border-radius: .5rem;
}

.test-heading {
    display: flex;
    align-items: center;
}

.test-heading img {
    border-radius: 50%;
    max-width: 2rem;
}

.test-heading .col2  {
    margin: 1rem;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

h2 {
    font-size: .8rem;
}

h3 {
    font-size: .7rem;
    opacity: 50%;
}

h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    
}

p {
    font-size: .8rem;
    opacity: 70%;
}



/* Specifics for the testimonial cards */

.testimonial-1 {
    background-color: hsl(263, 55%, 52%);
    color: aliceblue;
}

.testimonial-1 {
    background-image: url("images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right 10%;
}

.testimonial-1 img {
    border: 2px solid hsl(263, 48%, 70%);
}

.testimonial-2 {
    background-color: hsl(217, 19%, 35%);
    color: aliceblue;

}

.testimonial-3 {
    background-color: hsl(0, 0%, 100%);

}

.testimonial-4 {
    background-color: hsl(219, 29%, 14%);
    color: aliceblue;
}

.testimonial-4 img {
    border: 2px solid hsl(263, 55%, 52%);
}

.testimonial-5 {
    background-color: hsl(0, 0%, 100%);

}



/* Mobile Design */

@media ( max-width: 1000px ) {
    article {
        max-width: 20rem;
    }

    h3 {
        max-width: 15rem;
    }
}

/* Desktop Design */

@media ( min-width: 1001px ) {
    
    .testimonials {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "one one two five"
        "three four four five";
        max-width: 65rem;
    }

    article {
        margin: 0;
    }

    .testimonial-1 {
        grid-area: one;
    }

    .testimonial-2 {
        grid-area: two;

    }

    .testimonial-3 {
        grid-area: three;

    }

    .testimonial-4 {
        grid-area: four;

    }

    .testimonial-5 {
        grid-area: five;

    }

}